.App {
  text-align: center;
}

.App-logo {
  height: 120px;
}

.App-header {
  background-color: #fff;
  height: 200px;
  color: white;
  background: url(./girl.jpg) #fff;
  background-size: cover;
  background-position: center;
}

.Header-over{
  height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(150, 150, 150, 0.7);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Card{
  width: 200px;
  margin: 30px;
  min-height: 200px;
  background: #ffe200;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
    align-items: unset;
    color: #333;
}

.Price > h2{
  margin: 0;
}

.Btn{
  background: #2f2f2f;
  padding: 10px;
  color: white;
  box-shadow: 0px 0 1px 0px #000;
  margin: 5px;
  border-radius: 1px;
  cursor: pointer;
}

.Btn > h2 {
  margin: 0;
  font-weight: lighter;
}

.Btn:hover{
  background: #fff;
  color: #000;
}
.special>.Btn:hover{
  background: #ffe200;
  color: #000;
}

.Feature{
  display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    /* margin: 0px 30px; */
    /* border-bottom: solid 1px #3333334d; */
    /* border-top: solid 1px #3333334d; */
    padding: 0px 30px;
}

.special{
  background: #fff;
}
.Feature>p{
  margin: 0;
}

.value{
  font-size: 21px;
}

small{
  font-size: 12px;
}

#Form{
  min-height: 500px;
  max-width: 600px;
  margin: auto;
  margin-top: 50px;
  box-shadow: 0px 0px 5px 0px #333;
  border-radius: 8px;
  background: #fff;
  color: #333;
  display: flex;
    flex-direction: column;
}

#Cart{
  height: 300px;
  width: 200px;
  margin: auto;
  margin-top: 50px;
  -webkit-box-shadow: 0px 0px 5px 0px #333;
  box-shadow: 0px 0px 5px 0px #333;
  border-radius: 8px 0px 0px 8px;
  background: #fff;
  position: fixed;
  right: 0;
  top: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-around;
  -ms-flex-align: unset;
  align-items: unset;
  color: #333;
}